<Files "self.html">
Header always set Content-Security-Policy "frame-ancestors 'self'"
Header always set X-Robots-Tag noindex
</Files>
<Files "none.html">
Header always set Content-Security-Policy "frame-ancestors 'none'"
Header always set X-Robots-Tag noindex
</Files>

<Files "self.png">
Header always set Content-Security-Policy "frame-ancestors 'self'"
</Files>
<Files "none.png">
Header always set Content-Security-Policy "frame-ancestors 'none'"
</Files>
