nav > ul > li + li,
nav > section > ul > li + li {
	margin-block-start: 0.5em;
}

nav > ul ul,
nav > section > ul ul {
	padding-inline-start: 1.5em;
}

:is(h1, h2, h3, h4, h5, h6) code {
	font-size: 110%;
}

table {
	border-collapse: collapse;
}

th,
td {
	padding: 0.25em;
	border: 1px solid #000;
}

thead th {
	color: #000;
	background-color: #eee;
}

body > footer {
	margin-block-start: 3em;
	border-block-start: 1px solid;
}

body > footer :any-link::before {
	margin-inline-end: 0.25em;
	content: "👈";
	display: inline-block;
}
